/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*common*/
	.c_title{
		font-size: 24px;
	}
	.c_description{
		font-size: 18px;
	}
	/*header*/
	header {
	    background-color: #fcdb00;
	    padding: 20px 0;
	}
	#header_menu{
		text-align: right;
	}
	#header_menu ul li a {
		font-size: 20px;
	    padding: 20px 0 0;
	}
	/*slider*/
	.slider {
	   padding-bottom: 50px;
	}
	#tinyone_slider .carousel-indicators{
	    margin-bottom: -2rem;
	}
	.slider_text {
	    padding: 10px 0;
	}
	.slider_text h1{
		font-size: 24px;
	}
	.slider_text h2{
		font-size: 18px;
	}
	.slider_icon ul li i{
		font-size: 35px;
		margin-right: 15px;
	}
	/*feature*/
	.feature,
	.contact{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.f_bottom{
		text-align: center;
		margin-top: 50px;
	}
	.f_icon ul li i{
		font-size: 40px;
	}
	.f_text h1{
		font-size: 20px;
	}
	/*contact*/
	.c_form{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.c_form input{
		padding: 18px 10px;
	}
	.c_form input,
	.c_form button{
		height: 45px;
	}
	.c_form button{
		margin-top: 20px;
	}
	/*	footer*/
	footer{
		padding-bottom: 50px;
		text-align: center;
	}
	.f_link{
		padding-top: 40px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*common*/
	.c_title{
		font-size: 24px;
	}
	.c_description{
		font-size: 18px;
	}
	/*header*/
	header {
	    background-color: #fcdb00;
	    padding: 20px 0;
	}
	#header_menu{
		text-align: right;
	}
	#header_menu ul li a {
		font-size: 20px;
	    padding: 20px 0 0;
	}
	/*slider*/
	.slider {
	   padding-bottom: 80px;
	}
	#tinyone_slider .carousel-indicators{
	    margin-bottom: -2rem;
	}
	.slider_text {
	    padding: 30px 0;
	}
	.slider_text h1{
		font-size: 24px;
		margin-bottom: 16px;
	}
	.slider_text h2{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.slider_icon ul li i{
		font-size: 35px;
		margin-right: 15px;
	}
	/*feature*/
	.feature,
	.contact{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.f_bottom{
		text-align: center;
		margin-top: 50px;
	}
	.f_icon ul li i{
		font-size: 40px;
	}
	.f_text h1{
		font-size: 20px;
	}
	/*contact*/
	.c_form{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.c_form input{
		padding: 18px 10px;
	}
	.c_form input,
	.c_form button{
		height: 45px;
	}
	.c_form button{
		margin-top: 20px;
	}
	/*	footer*/
	footer{
		padding-bottom: 50px;
		text-align: center;
	}
	.f_link{
		padding-top: 40px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header*/
	#header_menu{
		text-align: right;
	}
	#header_menu ul li a {
	    padding: 20px 0 0;
	}
	/*slider*/
	.slider {
	   padding-bottom: 80px;
	}
	#tinyone_slider .carousel-indicators{
	    margin-bottom: -2rem;
	}
	.slider_text {
	    padding: 35px 0;
	}
	/*feature*/
	.feature,
	.contact{
		padding-top: 100px;
		padding-bottom: 80px;
	}
	/*	footer*/
	footer{
		padding-bottom: 80px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}
